<h3>Blogs</h3>

<ul>
  {{#each model.tree as |blog|}}
    <li> {{blog.title}} </li>
    {{#if blog.children }}   
    <ul>
      {{#each blog.children as |child|}}
      <li> {{child.title}}</li>
      {{/each}}
      </ul>
    {{/if}}
    {{/each}}
</ul>
